* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
  
}
.content {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.416);

}
#img{
height: 100%;
width: 100%;
border-radius: 50%;
transition: transform 45s
}
#img:hover{
  transform: scale(1.5); 
overflow: hidden;
}
  

.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  
  
}